<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- External CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Dashboard</title>
  </head>
  <body>
    <header>
        <div class="container">
            <h1>
              <a href="{% url 'portal:home' %}">
                    <img class="img-fluid" src="{% static 'img/logo.png' %}" alt="head-logo">
                </a>
            </h1>
            <p class="head">Government of Maharashtra</p>
            {% if request.user.is_authenticated %}
              <div class="name-log">
                <p class="user-name">MR. {{ request.user }}</p>
                <a href="{% url 'logout' %}">Logout</a>
              </div>
            {% endif %}
        </div>
    </header>
    <div class="container">
        <div class="outer payments-div">
        <h3 class="selection">Payments</h3>
            <div class="agency-selection"> 
                <ul class="ul">
                    <li class="payments"> 
                        <div class="row">
                            {% if pay_form.errors %}
                                {% for field in pay_form %}
                                    {% for error in field.errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in pay_form.non_field_errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <div class="col-md-8">
                                <div class="info">
                                    <small>Step one</small>
                                    <p>जागृतता आणि गुणवत्ता प्रशिक्षण </p>
                                    <p class="sub-info pos-rel">ISO ९००१:२०१५ जागृतता आणि गुणवत्ता व्यवस्थापनाची तत्वे : याबाबत प्रशिक्षण कार्यशाळेचे आयोजन </p>
                                    <p class="count">₹ 33,000.00 + ₹ 5940 <small>18% GST</small> = 38940.00
                                    {% if app == 'yes' %} <span class="mismatched">UTR number missmatched, please check the UTR and submit again.</span>{% endif %}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                            {% if paid == 'no' %}
                            <div class="pay-type">
                                {% if app == 'no' %}
                                <div class="rtgs">
                                    <button class="sel-rtgs">Select RTGS</button>
                                </div>
                                {% endif %}
                                {% if app == 'yes' %}
                                    <div class="rtgs">
                                        <button class="sel-rtgs">Add RTGS Number</button>
                                    </div>
                                {% endif %}
                                {% if app == 'no' %}
                                    <div class="net-banking">
                                    
                                        <form method="POST" class="pos-rel">
                                        {% csrf_token %}
                                        <input type="hidden" value="abv">
                                    
                                            <script src="https://checkout.razorpay.com/v1/checkout.js"
                                                data-key="rzp_test_RFsHcz1H7YbOw2" // Enter the Test API Key ID generated from Dashboard → Settings → API Keys    
                                                data-amount="3894000" // Amount is in currency subunits. Hence, 29935 refers to 29935 paise or ₹299.35.
                                                data-currency="INR"//You can accept international payments by changing the currency code. Contact our Support Team to enable International for your account
                                                data-order_id="{{ payment.id }}"//Replace with the order_id generated by you in the backend.    
                                                data-buttontext="Select Net Banking"    
                                                data-image="https://example.com/your_logo.jpg"
                                                data-prefill.name="Gaurav Kumar"    
                                                data-prefill.email="gaurav.kumar@example.com"    
                                                data-theme.color="#F37254">
                                            </script>
                                        </form>
                                    </div>
                                {% endif %}
                            </div>
                            
                                <div class="utr">
                                    <form method="POST" class="pos-rel">
                                        {% csrf_token %}
                                        {{ pay_form.UTR_no }}
                                        <button name="pay_id" class="pay" id="pay_id" type="submit">Submit</button>
                                    </form>
                                </div>
                            {% endif %}
                            {% if paid == 'yes' %}
                                <div class="yes-div">
                                    <img class="img-fluid" src="{% static '/img/green_circle_tick.png' %}">
            
                                </div>
                               
                            {% endif %}
                            </div>
                        </div>
                      </li>
                      
                       {% comment %} <li class="payments">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="info">
                                    <small>Step two</small>
                                    <p>प्रमाणिकरण </p>
                                    <p class="sub-info pos-rel">ग्रामपंचायतीला ISO ९००१ : २०१५ प्रमाणिकरणासाठी आवश्यक असणारी सर्व कामे पूर्ण करणे</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                {% if paid == 'yes' %}
                                    <div class="yes-div">
                                        <img class="img-fluid" src="{% static '/img/green_circle_tick.png' %}">
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                      </li>
                        <li class="payments">
                            <div class="row">
                                {% if audit_form.errors %}
                                    {% for field in audit_form %}
                                        {% for error in field.errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                    {% for error in audit_form.non_field_errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                
                                <div class="col-md-8">
                                    <div class="info">
                                        <small>Step three</small>
                                        <p>प्रमाणिकरणापूर्वीचे परिक्षण</p>
                                        <p class="sub-info pos-rel">(Pre-Certification Audit)</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    {% if paid == 'yes' %}
                                        {% if pdf == "no" %}
                                            <div class="utr">
                                                <small>Maximum file size: 20MB, only pdf is allowed</small>
                                                <form method="POST" class="pos-rel" enctype='multipart/form-data'>
                                                    {% csrf_token %}
                                                    {{ audit_form.pre_audit }}
                                                    <button name="audit_id" id="audit_id" class="pay" type="submit">Submit</button>
                                                </form>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                    {% if pdf == "yes" %}
                                        <div class="yes-div">
                                            <img class="img-fluid" src="{% static '/img/green_circle_tick.png' %}">
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                        <li class="payments">
                        <div class="row">
                            {% if cert_form.errors %}
                                {% for field in cert_form %}
                                    {% for error in field.errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in cert_form.non_field_errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <div class="col-md-8">
                                <div class="info">
                                    <small>Step four</small>
                                    <p>ISO९००१:२०१५ certification of sites</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                {% if paid == 'yes' %}
                                    {% if certificate == "no" %}
                                        <div class="certificate">
                                            <form method="POST" class="pos-rel" enctype='multipart/form-data'>
                                                {% csrf_token %}
                                                {{ cert_form.certificate }}
                                                <button name="cert" id="cert" class="pay" type="submit">Submit</button>
                                            </form>
                                        </div>
                                    {% endif %}
                                {% endif %}
                                {% if certificate == "yes" %}
                                    <div class="yes-div">
                                        <img class="img-fluid" src="{% static '/img/green_circle_tick.png' %}">
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                      </li> {% endcomment %}
                </ul>
            </div>
        </div>
         
    </div>
    <div class="messages">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }} alert alert-danger" role="alert"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <footer>
    

    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/payments.js' %}"></script>

    </footer>
    </body>
</html>